.App {
  max-width: 1440px;
  position: relative;
  padding: 20px;
}
.Header {
  height: 100vh;
  background-position: center;
}
.mapbody {
  position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000aa;
    /* background-color: red; */
}